.show-controller {
	-fx-spacing: 20px;
}

.show-controller .scene-list {
	-fx-min-width: 200px;
	-fx-max-width: 200px;
}

.show-controller .controller {
	-fx-min-width: 200px;
	-fx-max-width: 200px;
	-fx-spacing: 10px;
}

.show-controller .controller .button {
	-fx-min-width: 90.0px;
	-fx-max-width: 90.0px;
}

.show-controller .controller .toggle-button {
	-fx-min-width: 200px;
	-fx-max-width: 200px;
	
	-fx-background-color: #be0000, linear-gradient(to bottom, #DDD, #999);
}

.show-controller .controller .toggle-button:armed {
	-fx-background-color: #008d00, linear-gradient(to bottom, #DDD, #999);
}

.show-controller .controller .toggle-button:selected {
	-fx-background-color: #008d00, linear-gradient(to bottom, #DDD, #999);
}
